<br />

<div class='block'>

	{% if not comments %}
		<p>There are no comments for this course yet.</p>
	{% endif %}

	{% if request.user.is_authenticated %}
		<form action="{% url 'course:create-comment' course.id %}" method="post">
			{% csrf_token %}
			<label for="exampleFormControlTextarea1">Input comment: </label>
	    	<textarea class="form-control" id="exampleFormControlTextarea1" rows="5" name="text"></textarea>

	    	<button type="submit" class="btn btn-primary" >Create</button>
		</form>
	{% else %}
		<a class="btn btn-primary" href="/login/" role="button">Login</a>
	{% endif %}

	{% if comments %}
		{% for comment in comments %}
			<br />
			<div class="card">
			  <div class="card-header">
			    <h2>{{ comment.autor }}</h2>
			  </div>
			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p>{{ comment.text }}</p>
			    </blockquote>
			  </div>
			</div>
		{% endfor %}
	{% endif %}
</div>