{% extends 'base.html' %}

{% block title %}
	Course
{% endblock %}

{% block content %}
	{% if course %}
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">

		    <h1 class="display-4">{{ course.name }}</h1>
			  {% if course in completed_courses %}
			  <p align="right" style="color:green"><b>Congratulations! Course completed!</b></p>
			  {% else %}
			  <p align="right" style="color:orange"><b>You have not completed this course yet.</b></p>
			  {% endif %}

			<span class="badge badge-primary badge-pill">{{ course.category }}</span>

		    <p class="lead">{{ course.description }}</p>

		    <hr class="my-4">
			
			<h3>LESSONS:</h3>
			<ul class="list-group">
				{% for lesson in course.lessons.all %}
					<li class="list-group-item"><a href="{% url 'course:lesson' course.id lesson.id  %}">{{ lesson.name }}</a></li>
				{% endfor %}
			</ul>

			<hr class="my-4">

			<h3>COMMENTS:</h3>

			<div class="comments">
				{% include "course/comments.html" %}
			</div>

		  </div>
		</div>
	{% endif %}
{% endblock %}