{% extends 'base.html' %}

{% block title %}
	Course
{% endblock %}

{% block content %}

	<div class="jumbotron jumbotron-fluid">
		  <div class="container">

		    <h1 class="display-4 text-center">{{ lesson.name }}</h1>
			  {% if lesson in completed_lessons %}
			  <p style="color:green" align="center"><b>Lesson is completed</b></p>
			  {% else %}
			  <p style="color:orange" align="center">Lesson is not completed</p>
			  {% endif %}

			<div class="card">
			  <div class="card-body">
			    {{ lesson.description }}
			  </div>
			</div>
			
			<hr class="my-4">

		    <p class="lead text-center">
		    	<iframe width="800" height="512"
					src="{{ lesson.video }}">
				</iframe>
		    </p>

		    <hr class="my-4">

		    <div class="card">

			  <div class="card-header">
			    Homework
			  </div>

			  <div class="card-body">
			    <blockquote class="blockquote mb-0">
			      <p>{{ lesson.homework }}</p>
			    </blockquote>
			  </div>
			</div>			

		  </div>
		</div>

{% endblock %}