{% extends 'base.html' %}

{% block title %}
	Course
{% endblock %}

{% block content %}
	{% if course %}
		<div class="jumbotron jumbotron-fluid">
		  <div class="container">

		    <h1 class="display-4">{{ course.name }}</h1>

			<span class="badge badge-primary badge-pill">{{ course.category }}</span>

		    <p class="lead">{{ course.description }}</p>
			
			{% if request.user.is_authenticated %}
			    <form action="thanksyou/" method="post">
				  	{% csrf_token %}
				 	<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
				          data-key="{{ key }}"
				          data-description="Buy course"
				          data-amount="{{ course.cost }}"
				          data-locale="auto"></script>
				</form>
			{% else %}
				<a class="btn btn-primary" href="/login/" role="button">Login</a>
			{% endif %}

		    <hr class="my-4">
			
			<h3>LESSONS:</h3>
			<ul class="list-group">
				{% for lesson in course.lessons.all %}
					<li class="list-group-item">{{ lesson.name }}</li>
				{% endfor %}
			</ul>

			<hr class="my-4">

			<h3>COMMENTS:</h3>

			<div class="comments">
				{% include "course/comments.html" %}
			</div>		

		  </div>
		</div>
	{% endif %}
{% endblock %}