{% extends 'base.html' %}

{% block title %}
	Thanks you
{% endblock %}

{% block content %}
	<div class="jumbotron jumbotron-fluid">
		<div class="container text-center">

			<h6>Thank you</h6>

		</div>
	</div>
{% endblock %}