{% extends "base.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block title %}
Login here
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <p>Don't have an account? Create one <a href="/register">here</a>.</p>
            <p>You can alternatively log in using your <a href="{% provider_login_url 'google' %}">Google Account</a>.</p>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    {% else %}
        <p>Oops! It seems like you're already logged-in. Go to the <a href="/">home page</a>.</p>
    {% endif %}
{% endblock %}