{% extends "base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    {% if not user.is_authenticated %}
        <form method="POST" class="form-group">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    {% else %}
        <p>Oops! It seems like you're already registered and logged-in. Go to the <a href="/">home page</a>.</p>
    {% endif %}
{% endblock %}