{% extends 'base.html' %}

{% block title %}
	Profile edit page
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	<form method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit">Save</button>
    </form>
{% endblock %}