{% extends 'base.html' %}

{% block title %}
	Profile page
{% endblock %}

{% block content %}
	This is your profile!<br>
    First name: {{ user.first_name }}<br>
    Last name: {{ user.last_name }}<br>
    Your username: {{ user.username }}<br>
    Your email: {{ user.email }}<br>
    <a href="edit/">Edit your personal information</a><br>
    Your purchased courses:<br>
    {% if courses %}
        {% for course in courses %}
            <a href="/course/{{ course.id }}">{{ course.name }}</a><br>
        {% endfor %}
    {% else %}
        You don't have any courses yet.
    {% endif %}
{% endblock %}
