{% extends 'base.html' %}

{% block title %}
	Our Students
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
	    <div class="tab-content" id="nav-tabContent">
	      {% if students %}
			{% for student in students %}
				<div class="card mb-3" style="max-width: 540px;">
				  <div class="row no-gutters">
				    <div class="col-md-8">
				      <div class="card-body">
				        <h5 class="card-title">{{ student.first_name }} {{ student.last_name }}</h5>
                        <h5 class="card-title">{{ student.email }}</h5>
                          {% for item in courses_completed_by_students %}
                            {% if student == item.name %}
                                {% for course in item.courses %}
                                    {{ course }}<br>
                                {% endfor %}
                            {% endif %}
                          {% endfor %}
                      </div>
                    </div>
				</div>
            {% endfor %}
           {% endif %}
		</div>
     </div>
</div>
{% endblock %}
