<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>


	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
	
</head>
<body style="background-color: #0A050F">
	<div class="conteiner-fluid">

		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

		    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

		      <li class="nav-item">
		        <a class="navbar-brand" href="/">Home</a>
		      </li>

		      <li><div class="navbar-brand">|</div></li>

		      <li class="nav-item">
		        <a class="navbar-brand" href="/catalog">Courses</a>
		      </li>

		      <li><div class="navbar-brand">|</div></li>

		      <li class="nav-item">
		        <a class="navbar-brand" href="/students/">Our Students</a>
		      </li>
				
				{% if request.user.is_superuser %}
			      <li><div class="navbar-brand">|</div></li>

			      <li class="nav-item">
			        <a class="navbar-brand" href="/admin/">Admin</a>
			      </li>
		      	{% endif %}

			

		    </ul>
				<form class="form-inline my-2 my-lg-0">
					<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
						{% if not user.is_authenticated %}
							<li class="nav-item">
								<a class="nav-link" href="/login">Login</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">|</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/register">Registration</a>
							</li>
						{% else %}
                            <li class="nav-item">
								<a class="nav-link" href="/profile">Profile</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">|</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/logout">Logout</a>
							</li>
						{% endif %}

					</ul>
				</form>
		  </div>
		</nav>

		<div class="container">
			<br>
			{% block content %}{% endblock %}
		</div>
	</div>
</body>
</html>