{% extends 'base.html' %}

{% block title %}
	Page with courses
{% endblock %}

{% block content %}
	<div class="row">
	  <div class="col-4">
	  	<ul class="list-group">
		 	{% if categorys %}
		 		<a href="{% url 'all' %}">
			 		<li class="list-group-item d-flex justify-content-between align-items-center">
			 			All
			 		</li>
			 	</a>
		 		{% for category in categorys %}
		 			<a href="{% url 'detail' category.name %}">
			 			<li class="list-group-item d-flex justify-content-between align-items-center">
		      				{{ category.name }}
		      			</li>
		      		</a>
		 		{% endfor %}
			{% endif %}
		</ul>
	  </div>
	  <div class="col-8">
	    <div class="tab-content" id="nav-tabContent">
	      {% if courses %}
			{% for course in courses %}
				<div class="card mb-3" style="max-width: 540px;">

				  <div class="row no-gutters">

				    <div class="col-md-4">
				      <img src="https://gateacademy.shop/assets/v3/base/images/icons/online-course.svg" class="card-img">
				    </div>

				    <div class="col-md-8">

				      <div class="card-body">
				        <h5 class="card-title"><a href="{% url 'course:course' course.id %}">{{ course.name }}</a></h5>
				        <p class="card-text">{{ course.category }}</p>
				      </div>

				    </div>

				  </div>

				</div>
			{% endfor %}
		{% endif %}
	  </div>
	</div>
	
{% endblock %}